.planetElement {
  flex: 1 1 200px;
  min-width: 150px;
  max-width: 300px;
  max-height: 250px;
  text-align: center;
  color: white;
}

.planet {
  min-width: 150px;
  max-width: 200px;
  margin-bottom: 20px;
  image-rendering: auto;
}