.container-planets {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  gap: 20px;
  justify-content: center;
  min-height: 280px;
}

.container-planets div:nth-child( odd ) {
  align-self: flex-start;
}

.container-planets div:nth-child( even ) {
  align-self: flex-end;
}

.container-planets div:hover img {
  transition: 220s;
}

.container-planets div:hover > img {
  transform: rotate3d(1, 2, 3, 360deg);
  transform-style: preserve-3d;
}
