h2 {
  border-bottom: 3px solid rgba(255, 255, 255, 0.502);
  font-size: 50px;
  font-weight: 900;
  margin: 40px auto;
  max-width: 600px;
  padding: 10px;
  text-align: center;
  text-shadow: 2px 2px 30px white;
}
